- @posts.each do |i|
  %p
    = link_to i.name, post_path(i)
    = link_to 'Edit', edit_post_path(i), class: "btn btn-small btn-warning"
    = link_to "Delete", i, method: :delete, data: { confirm: "Delete?"}
%hr/
= link_to 'New post', new_post_path(@post), class: "btn btn-small btn-warning"
